{% from "_formhelpers.html" import render_field %}
{% extends 'auth/base.html' %}

{% block head %}
<link rel="stylesheet" type="text/css" media="screen" href="static/event/event.css" />
{% endblock %}

{% block body %}
<div class="background">
    <div class="col-sm">
    </div>
    <div class="col-sm">
        <form method=post class="content" enctype="multipart/form-data">
            <dl>
                {{ render_field(form.name) }}
                {{ render_field(form.icon) }}
                {{ render_field(form.position) }}
                {{ render_field(form.description) }}
                {{ render_field(form.major) }}
                {{ render_field(form.year) }}
            </dl>
            <p><input type=submit value="Create Event" class="btn">
        </form>
    </div>
    <div class="col-sm">
    </div>
</div>
{% endblock %}