body {
    padding-top: 1rem;
    background-image: url(/app/static/69670963_10156337089062517_551192476153544704_o.jpg);
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.alert {
    width: 50%;
    margin-left: 25%;
    max-width: 40rem;
}

.btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
.btn:hover {
    opacity: 1;
  }

.col-sm {
    padding-top: 5rem;
    position: fixed;
}

.content {
    position: sticky;
    margin: auto;
    max-width: 25rem;
    padding: 1.5rem;
    background-color: white;
    border-radius: 2rem;
}
/* Full-width input fields */
input[type=text] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }

input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
